[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:espressif/esp-idf.git
[submodule "8bkc-components/ugui/UGUI"]
	path = 8bkc-components/ugui/UGUI
	url = https://github.com/angelmerino/UGUI.git
