menu "AppFs image options"

config APPFS_PART_SIZE
	hex "AppFs partition size"
	default 0xE00000

config APPFS_PART_OFFSET
	hex "AppFs partition offset"
	default 0xA0000

config APPFS_EXTRA_FILES
	string "AppFs extra files"
	default ""


endmenu
